# Ignore the contents of the _site directory
_site/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

.bundle

# Ignore specific content in vendor/
vendor/*

# Do not ignore the root-level vendor directory
!vendor/

# If you want to exclude subfolders, whitelist specific paths like:
!vendor/breakpoint/
!vendor/some_other_folder/
